.missionpic{

border-radius: 10px;
box-shadow: 0 0 10px gray;


}

.aboutpic{

border-radius: 10px;
box-shadow: 0 0 10px gray;

}

.contact {
    text-shadow: 0 1px 1px black;
    font-weight: 600;
  }